.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: #0d1117;
  animation: up 2s ease, down 3s ease 5s, fadeOut 2s ease 3s forwards;
  transform: translateY(-100px);
}

.text {
  text-align: center;
  margin: 5px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  opacity: 1;
  animation: fadeIn 3s ease forwards;
}

.loader {
  opacity: 1;
  height: 10px;
  width: 10px;
  margin: 50px auto;
  scale: 0.5;
  animation: spin 0.5s linear infinite;
}

.icon {
  border: 4px solid transparent;
  animation: glowing 20s linear infinite;
  background-image: linear-gradient(
    100deg,
    black,
    white
    /* lightsalmon,
    lightgoldenrodyellow,
    lightgreen,
    lightblue,
    plum,
    violet,
    lightcoral */
  );
  background-size: 8000%;
  border-radius: 50%;
  width: calc(100px * 1.5);
  height: calc(100px * 1.5);
  display: block;
  user-select: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0.5;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes up {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-100px);
  }
}

@keyframes down {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes glowing {
  0% {
    background-position: 0;
  }

  50% {
    background-position: 800% 0;
  }

  100% {
    background-position: 0;
  }
}

@keyframes spin {
  0% {
    box-shadow: 0px -30px rgb(255, 255, 255), 10px -30px rgb(255, 255, 255),
      20px -20px rgb(255, 255, 255), 30px -10px rgb(255, 255, 255),
      30px 0px rgb(255, 255, 255), 30px 10px rgb(255, 255, 255),
      20px 20px rgb(255, 255, 255), 10px 30px rgb(255, 255, 255),
      0px 30px transparent, -10px 30px transparent, -20px 20px transparent,
      -30px 10px transparent, -30px 0px transparent, -30px -10px transparent,
      -20px -20px transparent, -10px -30px transparent;
  }

  6.25% {
    box-shadow: 0px -30px transparent, 10px -30px rgb(255, 255, 255),
      20px -20px rgb(255, 255, 255), 30px -10px rgb(255, 255, 255),
      30px 0px rgb(255, 255, 255), 30px 10px rgb(255, 255, 255),
      20px 20px rgb(255, 255, 255), 10px 30px rgb(255, 255, 255),
      0px 30px rgb(255, 255, 255), -10px 30px transparent,
      -20px 20px transparent, -30px 10px transparent, -30px 0px transparent,
      -30px -10px transparent, -20px -20px transparent, -10px -30px transparent;
  }

  12.5% {
    box-shadow: 0px -30px transparent, 10px -30px transparent,
      20px -20px rgb(255, 255, 255), 30px -10px rgb(255, 255, 255),
      30px 0px rgb(255, 255, 255), 30px 10px rgb(255, 255, 255),
      20px 20px rgb(255, 255, 255), 10px 30px rgb(255, 255, 255),
      0px 30px rgb(255, 255, 255), -10px 30px rgb(255, 255, 255),
      -20px 20px transparent, -30px 10px transparent, -30px 0px transparent,
      -30px -10px transparent, -20px -20px transparent, -10px -30px transparent;
  }

  18.75% {
    box-shadow: 0px -30px transparent, 10px -30px transparent,
      20px -20px transparent, 30px -10px rgb(255, 255, 255),
      30px 0px rgb(255, 255, 255), 30px 10px rgb(255, 255, 255),
      20px 20px rgb(255, 255, 255), 10px 30px rgb(255, 255, 255),
      0px 30px rgb(255, 255, 255), -10px 30px rgb(255, 255, 255),
      -20px 20px rgb(255, 255, 255), -30px 10px transparent,
      -30px 0px transparent, -30px -10px transparent, -20px -20px transparent,
      -10px -30px transparent;
  }

  25% {
    box-shadow: 0px -30px transparent, 10px -30px transparent,
      20px -20px transparent, 30px -10px transparent,
      30px 0px rgb(255, 255, 255), 30px 10px rgb(255, 255, 255),
      20px 20px rgb(255, 255, 255), 10px 30px rgb(255, 255, 255),
      0px 30px rgb(255, 255, 255), -10px 30px rgb(255, 255, 255),
      -20px 20px rgb(255, 255, 255), -30px 10px rgb(255, 255, 255),
      -30px 0px transparent, -30px -10px transparent, -20px -20px transparent,
      -10px -30px transparent;
  }

  31.25% {
    box-shadow: 0px -30px transparent, 10px -30px transparent,
      20px -20px transparent, 30px -10px transparent, 30px 0px transparent,
      30px 10px rgb(255, 255, 255), 20px 20px rgb(255, 255, 255),
      10px 30px rgb(255, 255, 255), 0px 30px rgb(255, 255, 255),
      -10px 30px rgb(255, 255, 255), -20px 20px rgb(255, 255, 255),
      -30px 10px rgb(255, 255, 255), -30px 0px rgb(255, 255, 255),
      -30px -10px transparent, -20px -20px transparent, -10px -30px transparent;
  }

  37.5% {
    box-shadow: 0px -30px transparent, 10px -30px transparent,
      20px -20px transparent, 30px -10px transparent, 30px 0px transparent,
      30px 10px transparent, 20px 20px rgb(255, 255, 255),
      10px 30px rgb(255, 255, 255), 0px 30px rgb(255, 255, 255),
      -10px 30px rgb(255, 255, 255), -20px 20px rgb(255, 255, 255),
      -30px 10px rgb(255, 255, 255), -30px 0px rgb(255, 255, 255),
      -30px -10px rgb(255, 255, 255), -20px -20px transparent,
      -10px -30px transparent;
  }

  43.75% {
    box-shadow: 0px -30px transparent, 10px -30px transparent,
      20px -20px transparent, 30px -10px transparent, 30px 0px transparent,
      30px 10px transparent, 20px 20px transparent, 10px 30px rgb(255, 255, 255),
      0px 30px rgb(255, 255, 255), -10px 30px rgb(255, 255, 255),
      -20px 20px rgb(255, 255, 255), -30px 10px rgb(255, 255, 255),
      -30px 0px rgb(255, 255, 255), -30px -10px rgb(255, 255, 255),
      -20px -20px rgb(255, 255, 255), -10px -30px transparent;
  }

  50% {
    box-shadow: 0px -30px transparent, 10px -30px transparent,
      20px -20px transparent, 30px -10px transparent, 30px 0px transparent,
      30px 10px transparent, 20px 20px transparent, 10px 30px transparent,
      0px 30px rgb(255, 255, 255), -10px 30px rgb(255, 255, 255),
      -20px 20px rgb(255, 255, 255), -30px 10px rgb(255, 255, 255),
      -30px 0px rgb(255, 255, 255), -30px -10px rgb(255, 255, 255),
      -20px -20px rgb(255, 255, 255), -10px -30px rgb(255, 255, 255);
  }

  56.25% {
    box-shadow: 0px -30px rgb(255, 255, 255), 10px -30px transparent,
      20px -20px transparent, 30px -10px transparent, 30px 0px transparent,
      30px 10px transparent, 20px 20px transparent, 10px 30px transparent,
      0px 30px transparent, -10px 30px rgb(255, 255, 255),
      -20px 20px rgb(255, 255, 255), -30px 10px rgb(255, 255, 255),
      -30px 0px rgb(255, 255, 255), -30px -10px rgb(255, 255, 255),
      -20px -20px rgb(255, 255, 255), -10px -30px rgb(255, 255, 255);
  }

  62.5% {
    box-shadow: 0px -30px rgb(255, 255, 255), 10px -30px rgb(255, 255, 255),
      20px -20px transparent, 30px -10px transparent, 30px 0px transparent,
      30px 10px transparent, 20px 20px transparent, 10px 30px transparent,
      0px 30px transparent, -10px 30px transparent,
      -20px 20px rgb(255, 255, 255), -30px 10px rgb(255, 255, 255),
      -30px 0px rgb(255, 255, 255), -30px -10px rgb(255, 255, 255),
      -20px -20px rgb(255, 255, 255), -10px -30px rgb(255, 255, 255);
  }

  68.75% {
    box-shadow: 0px -30px rgb(255, 255, 255), 10px -30px rgb(255, 255, 255),
      20px -20px rgb(255, 255, 255), 30px -10px transparent,
      30px 0px transparent, 30px 10px transparent, 20px 20px transparent,
      10px 30px transparent, 0px 30px transparent, -10px 30px transparent,
      -20px 20px transparent, -30px 10px rgb(255, 255, 255),
      -30px 0px rgb(255, 255, 255), -30px -10px rgb(255, 255, 255),
      -20px -20px rgb(255, 255, 255), -10px -30px rgb(255, 255, 255);
  }

  75% {
    box-shadow: 0px -30px rgb(255, 255, 255), 10px -30px rgb(255, 255, 255),
      20px -20px rgb(255, 255, 255), 30px -10px rgb(255, 255, 255),
      30px 0px transparent, 30px 10px transparent, 20px 20px transparent,
      10px 30px transparent, 0px 30px transparent, -10px 30px transparent,
      -20px 20px transparent, -30px 10px transparent,
      -30px 0px rgb(255, 255, 255), -30px -10px rgb(255, 255, 255),
      -20px -20px rgb(255, 255, 255), -10px -30px rgb(255, 255, 255);
  }

  81.25% {
    box-shadow: 0px -30px rgb(255, 255, 255), 10px -30px rgb(255, 255, 255),
      20px -20px rgb(255, 255, 255), 30px -10px rgb(255, 255, 255),
      30px 0px rgb(255, 255, 255), 30px 10px transparent, 20px 20px transparent,
      10px 30px transparent, 0px 30px transparent, -10px 30px transparent,
      -20px 20px transparent, -30px 10px transparent, -30px 0px transparent,
      -30px -10px rgb(255, 255, 255), -20px -20px rgb(255, 255, 255),
      -10px -30px rgb(255, 255, 255);
  }

  87.5% {
    box-shadow: 0px -30px rgb(255, 255, 255), 10px -30px rgb(255, 255, 255),
      20px -20px rgb(255, 255, 255), 30px -10px rgb(255, 255, 255),
      30px 0px rgb(255, 255, 255), 30px 10px rgb(255, 255, 255),
      20px 20px transparent, 10px 30px transparent, 0px 30px transparent,
      -10px 30px transparent, -20px 20px transparent, -30px 10px transparent,
      -30px 0px transparent, -30px -10px transparent,
      -20px -20px rgb(255, 255, 255), -10px -30px rgb(255, 255, 255);
  }

  93.75% {
    box-shadow: 0px -30px rgb(255, 255, 255), 10px -30px rgb(255, 255, 255),
      20px -20px rgb(255, 255, 255), 30px -10px rgb(255, 255, 255),
      30px 0px rgb(255, 255, 255), 30px 10px rgb(255, 255, 255),
      20px 20px rgb(255, 255, 255), 10px 30px transparent, 0px 30px transparent,
      -10px 30px transparent, -20px 20px transparent, -30px 10px transparent,
      -30px 0px transparent, -30px -10px transparent, -20px -20px transparent,
      -10px -30px rgb(255, 255, 255);
  }

  100% {
    box-shadow: 0px -30px rgb(255, 255, 255), 10px -30px rgb(255, 255, 255),
      20px -20px rgb(255, 255, 255), 30px -10px rgb(255, 255, 255),
      30px 0px rgb(255, 255, 255), 30px 10px rgb(255, 255, 255),
      20px 20px rgb(255, 255, 255), 10px 30px rgb(255, 255, 255),
      0px 30px transparent, -10px 30px transparent, -20px 20px transparent,
      -30px 10px transparent, -30px 0px transparent, -30px -10px transparent,
      -20px -20px transparent, -10px -30px transparent;
  }
}
